.s-about {
	padding: 90px 0;
	> .container{
		padding: 0;
	}
	.section-heading{
		padding: 0 0 17px;
	}
}

.about_content,
.about_img{
	padding: 0 15px;
	width: 100%;
}

.about_wrap{
	display: flex;
	flex-wrap: wrap;
}

.about_content{
  > p{
  	margin: 0 0 25px;
  }
}

.about_img{
	margin-top: 50px;
	text-align: right;
	>img{
		max-width: 100%;
	}
}