
.search_form{
	position: relative;
	margin: 0 -5px 0 -10px;
}

.search_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	list-style: none;
	box-shadow: inset 0 0 0 1px rgba(220, 220, 220, 0);
}
.search_list_i{
	padding: 10px;
	position: relative;
	display: block;
	border-radius: 4px;
	font-weight: 400;
	&::before{
		z-index: 2;
		transition: all 0s 0.1s;
		opacity: 0;
		height: 0;
		z-index: 1;
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		background-color: #fff;
	}
	&.active{//при клике, активное, выбран вариант
		box-shadow: inset 0 0 0 1px rgba(220, 220, 220, 1);
		&::before{//Костыль) против бордера
			z-index: 2;
			height: 4px;
			opacity: 1;
			transition: 0s;
			border-left: 1px solid #dcdcdc;
			border-right: 1px solid #dcdcdc;
		}
		>.search_field{
			border: 1px solid $border-menu-c;
			box-shadow: 0 0 0 1px $border-menu-c;
			color: $menu-gray-c;
			&::before{
				display: none;
			}
			&::after{
				display: block;
			}
		}

	}
	&.activated{//если выбран один из вариантов
		>.search_field{
			position: relative;
			padding: 14px 25px 14px 10px;
			&::before{
				right: 10px;
			}

			&::after{
				right: 10px;
			}
		}
		>.search_field .search_field_placeholder{
			display: none;
		}
		>.search_field .search_field_text{
			display: block;
			color: $menu-gray-c;
		}
	}
}//search_list_i

.search_field{
	position: relative;
	padding: 14px 50px 14px 20px;
	height: 50px;
	border-radius: 4px;
	border: 1px solid #dcdcdc;
	font-size: 16px;
	color: $search-gray-c;
	cursor: pointer;
	transition: 0.2s;
	&::before{
		content: "\e80f";
		font-family: 'fontello';
		font-size: 18px;
		display: block;
		position: absolute;
		top: 16px;
		right: 20px;
		color: $search-arrow-gray-c;
		transition: 0.2s;
	}
	&::after{
		content: "\e802";
		font-family: 'fontello';
		font-size: 17px;
		display: none;
		position: absolute;
		top: 17px;
		right: 20px;
		color: $menu-gray-c;
		transition: 0.2s;
	}
	&:hover{
		color: $menu-gray-c;
		border: 1px solid $search-gray-c;
		&::before{
			color: $menu-gray-c;
		}
	}
}//search_field

//Стили (ШИРИНА) для разных типов полей  меню
.search_list_i-action{
	width: 162px;
}
.search_list_i-property{
	width: 232px;
}
.search_list_i-adress{
	width: 300px; //332px;
}
	//sub fields
.search_list_i-district{
	width: 23%;
}
.search_list_i-street,
.search_list_i-subway{
	width: 35%;
}
	//END sub fields
.search_list_i-price{
	width: 130px;
}
.search_list_i-extra{
	width: 208px;
}
//END Стили (ШИРИНА) для разных типов полей  меню

.search_field_placeholder,
.search_field_text{
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.search_field_text{
	display: none;
	&::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255, 0.2), rgba(255,255,255, 1) 100%);
	}
	>span{
		&::before{
			content: ", ";
			display: inline;
		}
		&:first-of-type{
			&::before{
				content: ""
			}
		}
	}
}

//search_drop
.search_drop{
	z-index: 1;
	display: none;
	position: absolute;
	top: 69px;
	left: 0;
	padding: 20px 25px 20px 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	border: 1px solid #dcdcdc;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #ffffff;
	min-width: 100%;
}


.search_drop{
	color: #93a4af;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.54px;
	ul{
		list-style: none;
	}
}
//END search_drop

//Стили для инпутов и радио кнопок
.search_input-i,
.search_radio-i{
	display: none;
}
.search_input-l,
.search_radio-l{
	position: relative;
	display: inline-block;
	margin: 0 0 0 0;
	padding: 7px 0 5px 25px;
	line-height: 16px;
	cursor: pointer;
	&::before {
	  content: "";
	  position: absolute;
	  top: 10px;
	  left: 0;
	  display: block;
	  border-radius: 50%;
	  border: 2px solid #dcdcdc;
	  line-height: 16px;
	  margin: -5px 5px 0 0;
	  height: 18px;
	  width: 18px;
	  text-align: center;
	  vertical-align: middle;
	  font-size: 0;
	  transition: border 0.2s;
		box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
		background: #fff;
	}
}
.search_input-i:checked + .search_input-l,
.search_radio-i:checked + .search_radio-l{
	color: #50ade6;
	&::before{
	  font-size: 16px;  
 	  border: 2px solid #41afe5;//lighten(#5171EA, 30%);
    background: linear-gradient(180deg, #279dc4 0%, #18709f 100%);
	}
}

//END Стили для инпутов и радио кнопок



//Стили для поли поиска по АДРЕСУ search_list_i-adress
.search_list_i.search_list_i-adress{
	position: static;
	&::before{
		display: none;
	}
}
.search_drop.search_drop-adress{
	margin: 0 -10px;
	padding: 0;
	top: 0;
	bottom: auto;
	left: 10px;
	width: 100%;
	box-shadow: none;
	border: none;
}

//END Стили для поли поиска по АДРЕСУ search_list_i-adress


	//subway

.search_list_i-subway{
	.search_drop{
		left: -25%;
	}
}
.search_subway-wrap{
	display: flex;
	justify-content: space-between;
	width: 603px;//593px
}
.search_input-subway-l{
	padding: 7px 0 5px 30px;
	&::before{
		padding: 0;
		top: 14px;
		left: 8px;
		width: 12px;
		height: 12px;
    // background: linear-gradient(180deg, #279dc4 0%, #18709f 100%);
	}
	&::after{
		content: "";
		display: block;
		position: absolute;
    top: 19px;
    left: 13px;
    height: 19px;
		width: 2px;
	}
}
.search_input-subway-i:checked + .search_input-subway-l{
	&::before{
		box-shadow: none;
	}
}
.search_list-subway{
	>li:last-of-type{
		.search_input-subway-l{
			&::after{
				display: none;
			}
		}
	}
	&-r{
		.search_input-subway-l{
			&::before{
	 			border: 3px solid $subway-bg-r;
			}
			&::after{
				background: $subway-bg-r;
			}
		}
		.search_input-subway-i:checked + .search_input-subway-l{
			&::before{
		 		border: 3px solid $subway-bg-r;
				background: $subway-bg-r;
			}
		}
	}
	&-b{
		.search_input-subway-l{
			&::before{
	 			border: 3px solid $subway-bg-b;
			}
			&::after{
				background: $subway-bg-b;
			}
		}
		.search_input-subway-i:checked + .search_input-subway-l{
			&::before{
		 		border: 3px solid $subway-bg-b;
				background: $subway-bg-b;
			}
		}
	}
	&-g{
		.search_input-subway-l{
			&::before{
	 			border: 3px solid $subway-bg-g;
			}
			&::after{
				background: $subway-bg-g;
			}
		}
		.search_input-subway-i:checked + .search_input-subway-l{
			&::before{
		 		border: 3px solid $subway-bg-g;
				background: $subway-bg-g;
			}
		}
	}
}
	//end subway

	//street
.search_list_i-street{
	&.active{
		&::before{
			display: none;	
		}
		#locationField{
		  &::before{
			  display: none;
		  }
		  &::after{
			  display: block;
		  }
		}
	}
	&.activated{
		.search_input-street{
			padding: 14px 25px 14px 10px;
			color: $menu-gray-c;
		}
		#locationField{
		  &::before{
			  right: 10px;
		  }
		  &::after{
			  right: 10px;
		  }
		}
	}
}
#locationField{
	position: relative;
	padding: 0;
	border: none !important;
	box-shadow: none !important;
	&::before{
		z-index: 	1;
		content: "\e80f";
		font-family: 'fontello';
		font-size: 18px;
		display: block;
		position: absolute;
		top: 16px;
		right: 20px;
		color: $search-arrow-gray-c;
		transition: 0.2s;
	}
	&::after{
		z-index: 	1;
		content: "\e802";
		font-family: 'fontello';
		font-size: 17px;
		display: none;
		position: absolute;
		top: 17px;
		right: 20px;
		color: $menu-gray-c;
		transition: 0.2s;
	}
}
.search_input-street{
	display: block;
	width: 100%;
	height: 100%;
	outline: none !important;
	border: none;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
  position: relative;
  padding: 14px 50px 14px 20px;
  font-size: 16px;
  color: inherit;
  &::placeholder{
  	font-weight: 200;
  	color: #93a4af;;
  }
	&:focus{
		border: 1px solid $border-menu-c;
		box-shadow: 0 0 0 1px $border-menu-c;
	}
}
.pac-container{
	margin: 9px 0 0 1px;
	padding: 20px 25px 20px 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	border: 1px solid #dcdcdc;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
	background-color: #ffffff;
	color: #93a4af;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.54px;
	&::before{
		content: "";
		z-index: 	100;
		display: block;	
		position: absolute;
		top: -3px;
		left: 0;
		width: 100%;
		height: 5px;
		background-color: #fff;
	}
	&::after{
		display: none;
	}
	.pac-item{
		border: none;
    cursor: pointer;
	}
	.pac-item-query{
		font-size: 14px;
		color: $main-c;
	}
	.pac-icon-marker{
		display: none;
	}
}
	//END street



	//price drop box
.search_drop-price{
	width: 280px;
	// left: -70px;
}
.price_inputs{
	display: flex;
	justify-content: space-between;
}
.price_inputs_i{
	width: 110px;
	letter-spacing: 0.5px;
	font-weight: 200;
	#price_from,
	#price_to{
		display: inline-block;
		margin-left: 8px;
		width: 83px;
		height: 40px;
		padding: 4px 6px 0;
		letter-spacing: 0.5px;
		border-radius: 4px;
		border: 1px solid $border-grey-c;

	}
}

.price_slider-wrap{
	margin: -2px 0 14px;
}
.irs-slider{
	width: 14px;
	height: 24px;
	border-radius: 4px;
	background: #fff;
	&:hover{
		background: linear-gradient(rgb(255, 255, 255) 0%, rgb(220, 220, 220) 20%, rgb(255, 255, 255) 100%);
	}
}
.irs-line{
	background: #4d6675;
}
.irs-bar{
	background-image: linear-gradient(180deg, #33aed8 0%, #247eb0 100%);
}

.price_currency{
}
.price_currency-text{
	font-weight: 200;
}
.currency_radio-i{
	display: none;
	&:checked + .currency_radio-l{
		color: $accent-c;
	}
}
.currency_radio-l{
	cursor: pointer;
	display: inline-block;
	margin: 0 0 0 5px;
}
	//END price drop box

	//extra drop box
.search_drop-extra{
	padding: 20px 15px;	
	width: 300px;
	left: 0;
	.search_field_placeholder,
	.search_field_text{
		padding-top: 1px;
		font-size: 14px;
		letter-spacing: 0.3px;
	}
	.search_field{
		padding-top: 4px;
		padding-bottom: 4px;
		height: 30px;
		&::before,
		&::after{
			top: 6px;
		}
	}
	.search_list_i{
		padding: 7.5px;
		&.active{
			.search_drop{
				top: 43px;
			}
		}
		&.activated{
			>.search_field{
				padding-top: 4px;
				padding-bottom: 4px;
			}
		}
	}

}//search_drop-extra

	//rooms drop extra
.search_field-rooms{
	.search_field_text{
		&::before{
			content: "Комнат:";
			display: inline;
			padding: 0 7px 0 0;
		}
	}
}

.search_field-baths{
		.search_field_text{
		&::before{
			content: "Кол-во сан узлов:";
			display: inline;
			padding: 0 7px 0 0;
		}
	}
}
.search_field-commercial,
.search_field-stead{
		.search_field_text{
		&::before{
			content: "Тип:";
			display: inline;
			padding: 0 7px 0 0;
		}
	}
}

	//search_condition
.search_condition,
.search_area{
	position: relative;
	margin: 0 7.5px 0;
	&::before{
		content: "";
		width: 109%;
		position: absolute;
		top: 0;
		left: -24px;
		border-top: 1px solid #ededed;

	}
}
.search_condition{
	margin-top: 10px;
	padding: 10px 0 0;
}
.search_area{
	margin-top: 10px;
	padding: 15px 0;
}
.search_condition{
	.search_radio-l{
		font-weight: 400;
		color: $main-c;
	}
}
	//END search_condition

	//area drop box
.search_area_wrap{
	display: flex;
	justify-content: space-between;
}
.search_area_desc{
	width: 24%;
	line-height: 40px;
	display: inline-block;
	padding-top: 2px;
}
.search_area_itm{
	width: 38%;
}

.search_area_desc,
.search_area_text{
	font-size: 12px;
	color: $main-c;
}
.search_area_itm{
	letter-spacing: 0.5px;
	font-weight: 200;

}
.search_area_i{
	display: inline-block;
	margin-left: 5px;
	width: 75px;
	height: 40px;
	padding: 0 6px 0;
	letter-spacing: 0.5px;
	border-radius: 4px;
	border: 1px solid $border-grey-c;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
  	/* display: none; <- Crashes Chrome on hover */
  	-webkit-appearance: none;
  	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
}

	//END area drop box

//search_days
.search_field-days{
	.search_field_text{
		&::before{
			content: "Дней после размещения:";
			display: inline;
			padding: 0 7px 0 0;
		}
	}
}
//END search_days


	//search_words
.search_words{

}
.key-words-wrap{
	position: relative;
}
.key-words-area{
	padding: 10px;
	width: 100%;
	background-color: transparent;
	border: none;
	resize: none;
	border-radius: 4px;
	border: 1px solid #dcdcdc;
	&::-webkit-input-placeholder{
		color: $search-gray-c;
	}
	&:-moz-placeholder{
		color: $search-gray-c;
	}
	&::-moz-placeholder{
		color: $search-gray-c;
	}
	&:-ms-input-placeholder{
		color: $search-gray-c;
	}
}
	//END search_words

	//END extra drop box



.search_button-ok{
	padding: 0 25px;
}
