@media only screen and (min-width : 320px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

.form-choice{
	justify-content: space-evenly;
}

.form-choice_i{
	width: auto;
}
.header-bottom{
	height: auto !important;
}
.bottom-line-toogle{
	display: none;
}
}//

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
.menu-line{
  padding: 21px 0 16px;
	border-bottom: 1px solid $border-grey-c;
}

#main-menu{
	margin: 11px 0 10px;
	padding: 0;
	float: right;
	clear: none;
	>li{
		>a,{
			&:hover{
				&:before{
   			  width: 100%;
				}
			}
			&:before{
		    background-color: #50ADE6;
		    content: "";
		    position: absolute;
		    left: 0;
		    width: 0;
		    height: 2px;
		    bottom: 0;
		    -webkit-transition: all 0.5s ease 0s;
		    -moz-transition: all 0.5s ease 0s;
		    -o-transition: all 0.5s ease 0s;
		    transition: all 0.5s ease 0s;
			}
		}
		>.current{
			&:before{
   		  width: 100%;
			}
		}
	}
}
//accent border
.main-menu-btn{
	display: none;
}

.button-form-choice{
	min-width: 100px;
}


.form-choice{
	justify-content: space-between;
	flex-wrap: nowrap;
}
.form-choice{
	input{
		min-width: 100px;
	}
}

.sm-clean >li{
	margin: 0 0 0 15px;
	&:first-of-type{
	  	margin: 0;
  }
}



.sm-clean a .sub-arrow {
	position: relative;
	border: none;
	line-height: 0 !important;
	&::after{
		content: "\f078";
		font-family: 'FontAwesome' !important;
		font-size: 11px !important;
		display: block;
		position: absolute;
		width: 10px;
		height: 10px;
		top: 11px;
		right: -18px;
		color: #2F4653;
		font-weight: 400;
	}
}
.sm-clean ul a .sub-arrow{
	border: none;
	&::after{
		content: "\f054";
	}
}


}//
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){

.form-choice{
	input{
		min-width: 300px;
	}
	select{
		padding: 0 56px 0 20px;
	}

}

.button-form-choice{
	min-width: 160px;
}

.sm-clean >li{
	margin: 0 0 0 41px;
	&:first-of-type{
	  	margin: 0;
  }
}


}

