@media only screen and (min-width : 480px){




}//
@media only screen and (min-width : 768px){



}//

@media only screen and (min-width : 992px){

	header{
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	}
	.menu-line{
		height: 100px;
	}


	.menu-line{
		.icon_menu,
		.icon_search{
			display: none;
		}
	}

	.main-menu{
		display: flex;
		>li{
			padding: 0 0 0 25px;
		}
	}
	
	.header-search-line{
		display: block !important;
	}

// header-search-line
	.header-search-line{
		display: block;
		margin: -7px auto 0 auto;
		padding: 5px 0 0;
	}
//END header-search-line

}//
@media only screen and (min-width : 1200px){

	.main-menu{
		>li{
			padding: 0 0 0 42px;
		}
	}

	.header-search-line{
		border: none;
		.search_wrap{
			position: relative;
			&::before{
				content: "";
				width: 100%;
				height: 1px;
				background-color: $border-grey-c;
				position: absolute;
				top: -6px;	
				left: 0;	
				border-right: 10px solid #fff;
				border-left: 10px solid #fff;
			}
		}
	}


}//

