header{
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.menu-line{
	height: 60px;
  display: flex;
	justify-content: space-between;
	align-items: center;
}



.main-menu{
	display: none;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 1.2px;
	letter-spacing: 0.88px;
	font-weight: 600;
	text-transform: uppercase;
	list-style: none;
	justify-content: space-between;
	>li{
		padding: 0 0 0 25px;
		&:first-of-type{
			padding: 0 !important;
		}
		>a{
			position: relative;
			padding: 8px 0;
			transition: padding 0.4s;
			color: inherit;
			text-decoration: none;
			&:before{
			  background-color: #50ADE6;
			  content: "";
			  position: absolute;
			  left: 0;
			  width: 0;
			  height: 2px;
			  bottom: 0;
			  transition: all 0.5s ease 0s;
			}
			&:hover{
				&:before{
   			  width: 100%;
				}
			}
		}
		.current_page_item{
			&:before{
   		  width: 100%;
			}
		}
	}
}



//icon-menu icon-search
@media only screen and (max-width: 992px) {
	.menu-line{
		.icon_menu{
			width: 40px;
			height: 40px;
			background-image: url('../img/icon-menu.svg');background-position:50% 50%;background-repeat:no-repeat;
			cursor: pointer;
		}
		.icon_search{
			width: 40px;
			height: 40px;
			background-image: url('../img/icon-search.svg');background-position:50% 50%;background-repeat:no-repeat;
			cursor: pointer;
		}
	}
}
//END icon-menu icon-search

//header-front-page-menu-line
.front-page{
	header{
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		box-shadow: none !important;
		background-color: rgba(0,0,0,0.1);
	}
}
.front-page-menu-line{
	height: 60px;
  display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	.icon_menu{
		width: 40px;
		height: 40px;
		background-image: url('../img/icon-menu-white.svg');background-position:50% 50%;background-repeat:no-repeat;
		cursor: pointer;
	}
	.icon-phone{
		&:before{
			position: absolute;
			top: -13px;
			left: -50px;
			padding: 10px 20px;
			font-size: 23px;
			text-align: center;
			width: 54px;
			height: 50px;
		}
	}
}
.front-page-menu-line_owner,
.front-page-menu-line_contact{
	position: relative;
	text-transform: uppercase;
	text-decoration: none !important;
}
.front-page-menu-line_contact{
	>span{
		font-size: 0;
	}
}
.front-page-menu-line_owner{
	font-size: 0;
}
.front-page-menu-line_owner,
.front-page-menu-line_contact{
	color: inherit;
	transition: color 0.2s;
	&:hover{
		color: $main-c;
	}
}
//END header-front-page-menu-line

// header-search-line
.header-search-line{
	display: none;
	z-index: 1;
	padding: 10px 0;
	border-top: 1px solid $border-grey-c;
	background-color: #fff;
}
//END header-search-line