$white: #fff;
$black: #000;
$accent: #ffba00;
$accent-hover: #fc0;
$button-font-c: #331804;
$solutions-title-c: #71a70b;
$bg-not-transparrent: #2f0f02;
$bg-transparrent-08: rgba(47,15,2,0.8);
$bg-transparrent-09: rgba(66,27,11,0.9);
