$w: #fff;
$b: #000;

$accent-c: #f8c12c;
$accent-c-hov-w: #fff;
$accent-c-hov-b: #000;
$section-heading-black: #222;
$section-heading-white: #fff;
$form-error-c: rgba(255,0,0,0.8);

$backg-c-b: #000;
$backg-c-g: #222;

$gray-font-c: #888;


	// flex-flow: row no-wrap;
	// justify-content: space-between;

  // font-family: 'FontAwesome';
  
//новвые названия переменных
$acc-c: #f8c12c;