$white: #fff;
$black: #000;

$main-c: #4d6675;
$main-gray-c: #93a4af; //для серого. Серый с оттенком основного
$menu-gray-c: #4a4a4a;
$search-gray-c: rgba(74, 74, 74, 0.5);
$search-arrow-gray-c: rgba(74, 74, 74, 0.8);
$accent-c: #50ade6;

$border-menu-c: #50ADE6;
$border-grey-c: #dcdcdc;
$form-button-bg: #2583B4;

$subway-bg-r: #EE0000;
$subway-bg-b: #2D73C2;
$subway-bg-g: #5D8C00;


