.footer{
	padding: 20px 0 40px;
	background-color: #201D1C;
	color: $c-w;
	font-family: $f-segoe;
}




.footer_list-col{
	font-size: 15px;
	>.widget{
		>.widget-title{
			display: none;//Убрать!
			font-size: 18px;
			line-height: 300%;
			font-weight: 200;
		}
		>ul{
			list-style: none;
			>li{
				>a{
					display: inline-block;
					margin-bottom: 14px;
					color: inherit;
					text-decoration: none;
					transition: color 0.2s;
					&:hover{
						color: $acc-c;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.footer-policy{
	display: inline-block;
	max-width: 200px;
	margin-top: 20px;
	color: $acc-c;
	text-decoration: underline;
	transition: color 0.2s;
	&:hover{
		color: $acc-c;
		text-decoration: none;
	}
}
.footer-design{

}
.footer-design_text{
	margin-top: 20px;
	font-size: 13px;
	color: #888;
	>a{
		color: inherit;
		text-decoration: none;
		transition: color 0.2s;
		&:hover{
			color: #fff;
			text-decoration: underline;
		}
	}
}

//footer bottom

.footer-info{
	color: #8C8C8E;
}

.footer-info_img-w{
	display: block;
	margin: 0 auto;
	width: 60px;
	height: 60px;
}

.footer-info_title{
	margin: 8px auto 12px;
	font-size: 15px;
	text-align: center;
	font-weight: 200;
	color: #fff;
}
.footer-info_text{
	font-size: 12px;
	font-weight: 200;
}
.footer_row-info .footer-policy{
	margin: 15px 0;
}
