@media only screen and (min-width : 498px){

	.footer{
		padding: 32px 0 40px;
	}

	.footer-info_img-w{
		margin: 0;
		float: left;
		width: 73px;
		height: 73px;
	}
	.footer-info_title{
	  margin: 0;
	  padding: 16px 0 28px 95px;
		text-align: left;
	}

	.footer-info_text{
		font-size: 13px;
	}

	.footer-info_text-last{
		padding-top: 15px;
		border-top: 1px solid #433C3A;;
	}

}//576
@media only screen and (min-width : 768px){
	.footer{
		padding: 52px 0 42px;
	}

	.footer_row-lists{
		// margin-bottom: 30px;
		padding-bottom: 25px;
		border-bottom: 1px solid #433C3A;;
	}

	//footer bottom
	.footer_row-info{
		padding: 31px 0 0;
	}
	.footer-info_img-w{
		margin: 10px 0 0;
	}
	.footer-info_title{
	  padding: 0 0 2px 100px;
	}
	.footer-info_text{
	  padding: 0 0 0 100px;
	}
	.footer-info_text-last{
		margin-top: 15px;
		border: none;
	}

	.footer_row-info .footer-policy{
		display: none;
	}

}//768
@media only screen and (min-width : 992px){
	.footer{
		padding: 52px 0 53px;
	}

	.footer-design_text{
		position: relative;
		padding: 0 0 0 30%;
		font-size: 14px;
		&::before{
			content: "";
			display: block;
			position: absolute;
			width: 30%;
			height: 100%;
			top: 0;
			left: 0;
			background: url("../img/svg/front-page/logo_creator.svg") 50% 50% no-repeat;
		}
	}
	//
	.footer-info_title{
	  padding: 8px 0 2px 100px;
	}
	.footer-info_text{
		font-size: 14px;
	}
	.footer-info_text-last{
		margin-top: 5px;
	}
}//992
@media only screen and (min-width : 1310px){

	.footer{
		padding: 59px 0 45px;
	}
	.footer_row-lists{
		// margin-bottom: 42px;
		padding-bottom: 50px;
	}
	.footer_list-col{
		font-size: 16px;
		>.widget >ul >li >a{
			margin-bottom: 12px;
		}
	}
	.footer_list-col-c{
		padding-left: 54px;
	}
	.footer-design_text{
		padding: 0 0 0 20%;
		&::before{
			width: 16%;
		}
	}
	//
	.footer_row-info{
		padding: 45px 0 0;
	}
	.footer-info_img-w{
		width: 93px;
		height: 93px;
	}
	.footer-info_title{
	  padding: 8px 0 7px 133px;
	  font-size: 16px;
	}
	.footer-info_text{
	  padding: 0 0 0 133px;
	}
	.footer-info_text-last{
		padding: 0 0 0 71px;
	}

}//1310

