.header{
	z-index: 1;
	position: absolute;
	width: 100%;
	padding-top: 20px;
}

.header-row{
	display: flex;
	justify-content: space-around;
}


.site-logo{
	display: block;
	width: 98px;
	height: 34px;
}
.site-logo_img{
	width: 100%;
}


.header-col-phones{
	>ul{
		position: relative;
		display: flex;
		flex-direction: column;
		list-style: none;
    font-family: 'SegoeUI';
    font-weight: 400;
    font-size: 14px;
		line-height: 17px;
		>li{
			>a{
				display: block;
				color: inherit;
				text-decoration: none;
				transition: color 0.2s;
				&:hover{
					opacity: 0.9;
				}
			}
		}
	}
}


.header-col-button{
	display: none;
}




