@media only screen and (min-width : 1px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 498px){
	/*	s-header	*/
	.header-row{
		justify-content: space-between;
	}
	.site-logo{
		width: 140px;
		height: 48px;
	}
	.header-col-phones{
		>ul{
			padding-left: 35px;
			font-size: 20px;
			line-height: 24px;
			&::before{
				content: "";
				display: block;
				width: 20px;
				height: 28px;
				position: absolute;
				top: 10px;
				left: 0;
				background-image: url(../img/svg/front-page/Phone.svg);
			}
		}
	}
	//END s-header



}//498
/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/*	s-header	*/
	.header{
		padding-top: 34px;
	}	
	.header-col-button{
		display: block;
		.button{
			margin-top: 4px;
		}
	}
	//END s-header


}//768
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/*	s-header	*/
	.site-logo{
		width: 163px;
		height: 58px;
	}
	.header-col-phones{
		>ul{
			flex-direction: row;
			font-size: 21px;
			line-height: 24px;
			&::before{
				top: 15px;
			}	
			>li{
					&:last-of-type{
						padding-left: 15px;
					}
				>a{
					padding: 17px 0;
				}
			}
		}
	}
	.header-col-button{
		.button{
			margin-top: 9px;
		}
	}
	//END s-header

	/*	s-services	*/
	.services-car_i{
		flex-direction: row;
		text-align: left;
	}
	.services-car_img-wrap{
		margin: 0 15px 0 0;
	}
	.services-car_content{
		margin: 0 0 0 15px;
		padding: 0 0 0 30px;
	}
	//END s-services

	/*	s-guarantee	*/
	.guarantee_i{
		margin: 75px 0 0;
	}
	//END s-guarantee

	/*	s-projects	*/
	.projects-car_i{
		flex-direction: row;
		text-align: left;
	}
	.projects-car_img-wrap{
		margin: 0 15px 0 0;
	}
	.projects-car_content{
		margin: 0 0 0 15px;
		padding: 0 0 0 30px;
	}
	//END s-projects


}//992
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1310px){
	/*	s-header	*/
	.header-col-phones{
		padding-left: 200px;
	}
	//END s-header
}

