@media only screen and (min-width : 1px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 498px){
	/*	s-header	*/
	.header-row{
		justify-content: space-between;
	}
	.site-logo{
		width: 140px;
		height: 48px;
	}
	.header-col-phones{
		>ul{
			padding-left: 35px;
			font-size: 20px;
			line-height: 24px;
			&::before{
				content: "";
				display: block;
				width: 20px;
				height: 28px;
				position: absolute;
				top: 10px;
				left: 0;
				background-image: url(../img/svg/front-page/Phone.svg);
			}
		}
	}
	//END s-header

	/*	s-guarantee	*/
	.s-guarantee{
		display: block;
	}
	//s-guarantee

}//498
/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/*	s-header	*/
	.header{
		padding-top: 34px;
	}	
	.header-col-button{
		display: block;
		.button{
			margin-top: 4px;
		}
	}
	//END s-header

	/*	s-guarantee	*/
	.s-guarantee{
		padding: 55px 0 82px;
		.sec-title{
			margin-bottom: 22px;
		}
	}

	.guarantee_i{
		margin: 35px 0 0;
	}
	.guarantee_i_img-wrap{
		width: 64px;
		height: 64px;
		margin: 0 15px 0;
	}
	.guarantee_i_img{
		width: 64px;
		height: 64px;
	}

	.guarantee_i_text{
		height: 64px;
		>a{
			bottom: -22px;
		}
	}


	//s-guarantee

}//768
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/*	s-header	*/
	.site-logo{
		width: 163px;
		height: 58px;
	}
	.header-col-phones{
		>ul{
			flex-direction: row;
			font-size: 21px;
			line-height: 24px;
			&::before{
				top: 15px;
			}	
			>li{
					&:last-of-type{
						padding-left: 15px;
					}
				>a{
					padding: 17px 0;
				}
			}
		}
	}
	.header-col-button{
		.button{
			margin-top: 9px;
		}
	}
	//END s-header

	/*	s-services	*/
	.services-car_i{
		flex-direction: row;
		text-align: left;
	}
	.services-car_img-wrap{
		margin: 0 15px 0 0;
	}
	.services-car_content{
		margin: 0 0 0 15px;
		padding: 0 0 0 30px;
	}
	//END s-services

	/*	s-guarantee	*/
	.s-guarantee{
		padding: 46px 0 89px;
		.sec-title{
			margin-bottom: 15px;
		}
	}
	.guarantee_i{
		margin: 40px 0 0;
	}
	.guarantee_i_img-wrap{
		width: 74px;
		height: 74px;
		margin: 0 15px 0;
	}
	.guarantee_i_img{
		width: 74px;
		height: 74px;
	}
	.guarantee_i_text{
		height: 74px;
		font-size: 16px;
		>a{
			bottom: -24px;
		}
	}
	//s-guarantee



}//992
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1310px){
	/*	s-header	*/
	.header-col-phones{
		padding-left: 200px;
	}
	//END s-header

	/*	s-guarantee	*/
	.s-guarantee{
		padding: 64px 0 56px;
		.sec-title{
			margin-bottom: 0;
		}
	}
	.guarantee_i{
		margin: 69px 0 18px;
		display: block;
		text-align: center;
	}
	.guarantee_i_img-wrap{
		margin: 0 auto 23px;
	}
	.guarantee_i_text{
		display: block;
		height: auto;
		font-size: 17px;
		line-height: 29px;
			>a{
				width: 100%;
				text-align: center;
				bottom: -26px;
			}
	}
	.guarantee_i-work{
		.guarantee_i_text{
			margin: 0 -8px;
		}
	}


	//s-guarantee


}

