.s-contract{
	height: 330px;
	background: #F8F7F4 url(../img/svg/front-page/Document.svg) 50% 50% no-repeat;
	background-size: 124px 170px;
	.container{
		height: 100%;
	}
}
.s-contract_text{
	margin: 0 auto;
	height: 100%;
	width: 100%;
	font-size: 17px;
	display: flex;
	align-items: center;
}