.s-contacts{
	padding: 10px 0 13px;
	.sec-title{
		margin-bottom: 14px;
	}
}


.contacts_col{
	position: relative;
	margin: 0 auto 16px;
}
.contacts_title{
	font-size: 18px;
}

.contacts_adress{
	font-size: 16px;
}
.contacts_adress_map{
	display: none;
	color: $acc-c;
	text-decoration: underline;
	&:hover{
		color: $acc-c;
		text-decoration: none;
	}
}
.contacts_email_l{
	display: block;
	margin: 5px 0 13px;
	font-size: 17px;
	color: $c-b;
	text-decoration: none;
	&:hover{
		color: $c-b;
		text-decoration: underline;
	}
}

.contacts_phone{
	margin-top: 15px;
	font-size: 21px;
	font-family: $f-segoe;
	>ul{
		list-style: none;
		>li{
			>a{
				color: $c-b;
				text-decoration: none;
				&:hover{
					color: $c-b;
					text-decoration: underline;
				}
			}
		}
	}
}

.social{
	margin-top: 10px;
	>ul{
		list-style: none;
		display: flex;
		>li{
			margin-right: 13px;
			>a{
				display: block;
				width: 31px;
				height: 31px;
			}
		}
		.whatsapp{
			>a{
				background: url("../img/svg/front-page/whatsapp.svg");
			}
		}
		.viber{
			>a{
				background: url("../img/svg/front-page/viber.svg");
			}
		}
		.telegram{
			>a{
				background: url("../img/svg/front-page/telegram.svg");
			}
		}
	}
}