.s-guarantee{
	display: none;
	padding: 43px 0;
	.sec-title{
		margin-bottom: -4px;
	}
}

.guarantee_i{
	margin: 24px 0 0;
	text-align: left;
	display: flex;
}

.guarantee_i_img-wrap{
	width: 53px;
	height: 53px;
	margin: 0 15px 0 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}
.guarantee_i_img{
	width: 53px;// 64px;
	height: 53px;// 64px;
}
.guarantee_i_text{
	position: relative;
	height: 53px;
	flex-shrink: 1;
	font-size: 14px;
	display: flex;
	align-items: center;
	>a{
		display: inline-block;
		position: absolute;
		bottom: -16px;
		left: 0;
		color: $acc-c;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}