.s-homescreen{
	position: relative;
	text-align: center;
	&::before{
		content: "";
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: url("../img/homescreen-bg-top-good.jpg") 50% no-repeat;
		background-size: cover;
	}
	&::after{
		content: "";
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: url("../img/homescreen-bg-bottom-good.jpg") 50% no-repeat;
		background-size: cover;
	}
	>.container{
		z-index: 1;
		position: relative;
		height: 100%;
		&::before{
			content: "";
			display: inline-block;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			background: url("../img/homescreen-bg-center.png");
			background-repeat: no-repeat;
		}
		&::after{
			content: "";
			z-index: 0;
			position: absolute;
			background: url("../img/homescreen-bg-bottom-icon.png");
			background-size: cover;
		}
	}
}


.s-homescreen_title{
	z-index: 1;
	position: relative;
	margin: 0 auto;
	max-width: 240px;
	font-size: 19px;
	line-height: 1.05;
	font-weight: 600;
}

.s-homescreen_sub-title{
	z-index: 1;
	position: relative;
	margin: 15px auto 15px;
	max-width: 260px;
	font-size: 14px;
	line-height: 1.05;
	font-weight: 200;
}

.s-homescreen_button{
	z-index: 1;
	position: relative;
	max-width: 200px;
	padding: 7px 10px;
	font-size: 17px;
	line-height: 1.05;
	>span{
		display: none;
	}
}

.s-homescreen_text{
	position: absolute;
	z-index: 1;
	bottom: 0px;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 300px;
	padding: 0 15px;
	color: $c-w;
	font-size: 14px;
	font-weight: 200;
}
