.s-homescreen{
	position: relative;
	padding: 155px 0 135px;
	height: 1203px;
	text-align: center;
	background-color: #ddd;

}
.s-homescreen_title{
	margin: 0 auto;
	max-width: 720px;
	font-size: 35px;
	letter-spacing: 1px;
	line-height: 36px;
	font-weight: 200;
}
.s-homescreen_sub-title{
	margin: 18px auto 0;
	font-size: 20px;
	font-weight: 200;
}
.s-homescreen_button{
	display: inline-block;
	margin-top: 40px;
	max-width: 360px;
	padding: 13px 50px;
	transition: opacity 0.3s;
	background: linear-gradient(to right,$acc-c-darken, $acc-c-lighten);
	font-size: 22px;
	font-weight: 200;
	line-height: 26px;
	color: $c-w;
	border-radius: 60px;
	box-shadow: 10px 10px 40px 2px rgba(0,0,0,0.41);
	opacity: 0.84;
	&:hover{
		color: $c-w;
		opacity: 1;
	}
}
.s-homescreen_text{
	position: absolute;
	bottom: 127px;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 960px;
	color: $c-w;
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
}
