@media only screen and (min-width : 1px){
	/*	s-homescreen	*/
.s-homescreen{
	padding: 70px 0 30px;
	height: 615px;
	&::before{
		height: 60%;
	}
	&::after{
		height: 40%;
	}
	>.container{
		&::before{
			width: 100%;
			background-size: 380px;
			background-position: 46% 53%;
		}
		&::after{
			bottom: 15px;
			left: 50%;
			margin-left: -42px;
			width: 84px;
			height: 130px;
		}
	}

}


	//END s-homescreen
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 498px){

	.s-homescreen{
		padding: 100px 0 50px;
		height: 790px;
		&::before{
			height: 65%;
		}
		&::after{
			height: 35%;
		}
		>.container{
			&::before{
				margin-left: -19%;
				width: 140%;
				background-size: 100%;
				background-position: 50% 61%;
			}
			&::after{
				bottom: 0px;
			}
		}
	}

	.s-homescreen_title{
		max-width: 100%;
		font-size: 29px;
		font-weight: 200;
	}
	.s-homescreen_sub-title{
		margin: 20px auto 20px;
		max-width: 100%;
		font-size: 18px;
	}
	.s-homescreen_button{
		padding: 21px 32px;
		max-width: 100%;
		font-size: 20px;
	}
	.s-homescreen_text{
		max-width: 100%;
		font-size: 15px;
	}
}//498
/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

	.s-homescreen{
		padding: 130px 0 60px;
		height: 910px;
		&::before{
			height: 65%;
		}
		&::after{
			height: 35%;
		}
		>.container{
			&::before{
				margin-left: -9%;
				width: 118%;
				background-size: 100%;
				background-position: 50% 61%;
			}
			&::after{
				bottom: 0;
				left: 50%;
				margin-left: -44.5px;
				width: 89px;
				height: 140px;
			}
		}
	}

	.s-homescreen_title{
		font-size: 38px;
	}
	.s-homescreen_sub-title{
		max-width: 500px;
		font-size: 19px;
	}
	.s-homescreen_button{
		padding: 15px 63px;
		font-size: 22px;
		line-height: 25px;
		>span{
			display: inline;
		}
	}
	.s-homescreen_text{
		bottom: 20px;
		font-size: 17px;
	}
}//768
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){

	.s-homescreen{
		padding: 140px 0 75px;
		height: 1015px;
		&::before{
			height: 68%;
		}
		&::after{
			height: 32%;
		}
		>.container{
			&::before{
				margin-left: -2%;
				width: 104%;
				background-position: 50% 66%;
			}
		}
	}
	.s-homescreen_title{
		font-size: 42px;
		line-height: 50px;
	}
	.s-homescreen_sub-title{
		margin: 20px auto 45px;
		max-width: 100%;
		font-size: 20px;
	}
	.s-homescreen_text{
		max-width: 635px;
		bottom: 5px;
		font-size: 17px;
		line-height: 1.6;
	}

}//992
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1310px){

	.s-homescreen{
		padding: 145px 0 125px;
		height: 1200px;
		&::before{
			height: 770px;
		}
		&::after{
			height: 430px;
		}
		>.container{
			&::before{
				margin-left: 0.5%;
				width: 99%;
				background-position: 50% 61%;
			}
			&::after{
				bottom: -20px;
				left: 50%;
				margin-left: -54.5px;
				width: 109px;
				height: 170px;
			}
		}
	}
	.s-homescreen_title{
		font-size: 45px;
		line-height: 51px;
	}
	.s-homescreen_sub-title{
		margin: 20px auto 45px;
		font-size: 22px;
	}
	.s-homescreen_text{
		max-width: 861px;
		bottom: 5px;
		font-size: 20px;
	}
}

