.s-how-we{
	background: url("../img/how-we.jpg") 50% no-repeat;
	background-size: cover;
	color: $c-w;
	.container{
		padding: 0 15px;
	}
	.sec-title{
		margin-bottom: 50px;
	}
	.row{
		position: relative;
	}
}

// line

//END line

.how-we_i{
	margin: 0 auto 50px;
	max-width: 240px;
	text-align: center;
}

//how-we_left
.how-we_left{
	position: relative;
	margin: 0 auto 25px;
	width: 75px;
	min-width: 75px;
	text-align: center;

}
.how-we_number{
	display: block;
	position: absolute;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: $acc-c;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #49413E;
	line-height: 45px;
}

.how-we_title{
	margin-top: -5px;
	font-size: 15px;
	font-weight: 200;
}
.how-we_phone{
	display: inline-block;
	font-size: 17px;
	font-weight: 200;
	color: $acc-c;
	transition: color 0.4s;
	text-decoration: none;
	&:hover{
		color: $acc-c;
		text-decoration: underline;
	}
}
.how-we_button-box{
	margin: 10px auto 0;
	max-width: 200px;
	font-size: 18px;
	.button{
		margin: 0;
		padding: 6px 20px;
		color: $c-w;
		font-size: 14px;
		border: 2px solid $acc-c;
	}
}




