@media only screen and (min-width : 498px){

	.s-projects{
		padding: 36px 0 45px;
		.sec-title{
			line-height: 1;
		}
	}

	.projects-car_img-wrap{
		max-width: 335px;
		margin: 0 0 13px;
	}
	.projects-car_content_title{
		font-size: 22px;
	}

	.button_s-projects_more{
		margin-top: 21px;
		padding: 9px 27px;
		.first_span{
			display: inline;
		}
		.second_span{
			display: none;
		}
	}

	.projects-nav {
	    margin: 20px -3px 5px;
	}

}//576
@media only screen and (min-width : 768px){

	.s-projects{
		padding: 46px 0 61px;
		.sec-title{
			line-height: 1.27;
		}
	}

	.projects-car {
	  margin: 34px 0 15px;
	}

	.projects-car_img-wrap{
		max-width: 470px;
		margin: 0 0 25px;
	}
	.projects-car_content_title{
		font-size: 26px;
	  margin: 0 0 17px 0;
	}
	.projects-car_content_text-wrap{
		position: relative;
		max-height: 1000px;
		.projects-car_content_open{
			display: none;
		}
		.projects-car_content_hide{
			display: none;
		}
		&.active{
			.projects-car_content_text{
				max-height: 1000px;
			}
			.projects-car_content_open{
				display: none;
			}
			.projects-car_content_hide{
				display: none;
			}
		}
	}
	.projects-car_content_text{
		max-height: 1000px;
	}

	.projects-nav {
	  margin: 26px -3px 9px;
	}

}//768
@media only screen and (min-width : 992px){

	.s-projects{
		padding: 46px 0 69px;
		.sec-title{
			line-height: 1.17;
		}
	}
	.projects-car {
	  margin: 39px 0 15px;
	}

	.projects-car_content_title{
		font-size: 28px;
	  margin: 0 0 20px 0;
	}
	.projects-nav {
	  margin: 26px -3px 15px;
	}
	
}//992
@media only screen and (min-width : 1310px){

	.s-projects {
	    padding: 63px 0 80px;
	}

	.projects-car {
	    margin: 51px 0 15px;
	}

	.projects-car_i{
		display: flex;
	}
	.projects-car_img-wrap{
		margin: 0 60px 0 0;
		width: 570px;
		max-width: 100%;
		flex-shrink: 0;
	}
	.projects-car_content{
		flex-shrink: 1;
		margin-top: -10px;
	}
	.projects-car_content_text-wrap{
		margin-bottom: 20px;
	}
	.projects-car_content .button{
		display: inline-block;
	}
	.s-projects_button-wrap{
		text-align: center;
		.button-5{
			display: inline-block;
		}
	}
	.button_s-projects_more{
		display: none;
	}

	.projects-nav {
	    margin: 39px -3px 57px;
	}

}//1218

