.s-projects{
	position: relative;
	padding: 37px 0 40px;
	background: url("../img/bg-services.jpg") 50% 50% no-repeat;
	background-size: cover;
}

/*
	projects-car
*/
.projects-car{
	margin: 20px 0 15px;
}
.projects-car_i{
	display: block;
}
.projects-car_img-wrap{
	margin: 0 0 13px;
	>img{
		margin: 0 auto;
		width: 100%;
	}
}
.projects-car_content{
	margin: 0;
	padding: 0;
}
.projects-car_content_title{
	margin: 0 0 13px 0;
	font-size: 18px;
	font-weight: 600;
}


.projects-car_content_text-wrap{
	position: relative;
	max-height: 1000px;
	&.active{
		.projects-car_content_text{
			max-height: 1000px;
		}
		.projects-car_content_open{
			display: none;
		}
		.projects-car_content_hide{
			display: inline-block;
		}
	}
}

.projects-car_content_text{
	overflow: hidden;
	max-height: 161px;
	font-size: 16px;
	line-height: 25px;
	font-family: $f-segoe;
	transition: max-height 1s;
	.projects-car_price{
		padding: 0 0 10px 29px;
		position: relative;
		&::before{
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url("../img/svg/front-page/Price.svg");
			background-size: cover;
		}
	}
}

.projects-car_content_open,
.projects-car_content_hide{
	cursor: pointer;
	font-size: 15px;
	line-height: 1.7;
	color: $acc-c-red;
	font-family: $f-segoe;
	font-weight: 600;
}
.projects-car_content_hide{
	display: none;
}

.projects-car_content .button,
.s-projects_button-wrap .button-5{
	display: none;
}
.s-projects_button-wrap{
	text-align: left;
}
.button_s-projects_more{
	margin-top: 21px;
	padding: 9px 27px;
	&:hover{
		color: $c-w !important;
	}
	.first_span{
		display: none;
	}
	.second_span{
		display: inline;
	}
}
/*
	END projects-car
*/


.s-projects{
	.slick-slide{
		outline: none !important;
	}
}




/*
	projects-nav
*/
.projects-nav{
	margin: 0 -3px;
}

.projects-nav_i{
	position: relative;
	max-width: 190px;
	margin: 0 3px;
	cursor: pointer;
	>img{
		display: inline-block;
		width: 100%;
		transition: 0.4s all;
	}
	&:hover{
		.projects-nav_filter{
			background-color: $slider-nav-hover-layer;
		}
	}
}

.projects-nav_filter{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 12px;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: $c-w;
	transition: background-color 0.4s;
	background-color: $slider-nav-layer;
}


.projects-nav .slick-current{
	.projects-nav_i{
		>img{
			filter: none;
		}
	} 
	.projects-nav_filter{
		background-color: $slider-nav-hover-layer;
	}
}
/*
	END projects-nav
*/
