.s-partners-and-s-form{
	background: url("../img/partners-bg.jpg") 50% 50% no-repeat;
	background-size: cover;
}

.s-partners{
	padding: 16px 0 16px;
}

.partners{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.partners_i{
	padding: 4px;
	width: 33%;
}
