.s-projects{
	position: relative;
	padding: 54px 0 74px;
	// background: url("../img/1920x1200.jpg") 50% no-repeat;
	// background-size: cover;
}

/*
	projects-car
*/
.projects-car{
	margin: 50px 0 40px;
}
.projects-car_i{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.projects-car_img-wrap{
	margin: 0 0 40px;
	>img{
		margin: 0 auto;
		width: 100%;
		max-width: 570px;
	}
}
.projects-car_content{
	margin: 0;
	padding: 0;
}
.projects-car_content_title{
	margin: 0 0 20px 0;
	font-size: 30px;
	font-weight: 600;
	line-height: 22px;
}
.projects-car_content_text{
	margin: 0 0 40px;
	.projects-car_price{
		&::before{
			content: "\f02b";
			font-family: "FontAwesome";
			display: inline-block;
			margin-right: 10px;
			transform: rotate(90deg);
		}
	}
	>p{
		line-height: 28px;
	}
}
.projects-car_button-order{
	margin-left: 15px;
}
/*
	END projects-car
*/
.s-projects{
	.slick-slide{
		outline: none !important;
	}
}
/*
	projects-nav
*/
.projects-nav{
	margin: 0 -3px;
}

.projects-nav_i{
	position: relative;
	margin: 0 3px;
	cursor: pointer;
	>img{
		display: inline-block;
		width: 100%;
		transition: 0.4s all;
	}
	&:hover{
		.projects-nav_title{
			background-color: $slider-nav-hover-layer;
		}
	}
}

.projects-nav_title{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 12px;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: $c-w;
	transition: background-color 0.4s;
	background-color: $slider-nav-layer;
}


.projects-nav .slick-current{
	.projects-nav_i{
		>img{
			filter: none;
		}
	} 
	.projects-nav_title{
		background-color: $slider-nav-hover-layer;
	}
}
/*
	END projects-nav
*/

.s-projects_button-wrap{
	margin: 58px 0 0;
	text-align: center;
}