.s-plan{
	padding: 80px 0 110px;
	text-align: center;
	background: url("../img/plan-bg.jpg") 50% no-repeat;
	background-size: cover;
}


.s-plan_link-wrap{
}
.button-s-plan{
	position: relative;
	margin: 60px 0 55px;
	padding-left: 101px;
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 22px;
		left: 42px;
		margin-right: 15px;
		max-width: 36px;
		min-width: 36px;
		height: 36px;
		background: url("../img/svg/front-page/Map.svg") 50% no-repeat;
	}
}

.s-plan_link{
	display: inline-block;
	color: $acc-c-red;
	text-decoration: underline;
	max-width: 250px;
	&:hover{
		color: $acc-c-red;
		text-decoration: none;
	}
}