
.s-partners-and-s-form{
	background: url("../img/1920x1200.jpg") 50% no-repeat;
	background-size: cover;
}


.s-partners{
	padding: 50px 0;
}
.partners-car_i{
	>img{
		margin: 0 auto;
	}
}

.partners-car{
	.slick-slide{
		outline: none !important;
	}
}