.s-services{
	position: relative;
	padding: 33px 0 20px;
	background: url("../img/bg-services.jpg") 50% 50% no-repeat;
	background-size: cover;
}


// serv-nav-wrap
.serv-nav-wrap{
	margin: 20px 0 15px;
}


.serv-nav{
	position: relative;
	list-style: none;
	display: flex;
	flex-direction: column;
	border: 1px solid $acc-c-d;
	&.active{
		.serv-nav_i{
			height: 55px;
		}
	}
}
.serv-nav_i{
	order: 2;
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: all 0.4s;
	cursor: pointer;
	color: $c-b;
	&.active{
		order: 1;
		height: 55px;
	}
}

.serv-nav-title{
	margin: 0 0 8px;
	font-size: 17px;
	font-weight: 600;
}
.serv-nav_i_title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 35px 0 22px;
	width: 100%;
	height: 100%;
	text-align: left;
	font-size: 15px;
	line-height: 15px;
	font-weight: 400;
	transition: background-color 0.4s;
}
.serv-nav_i_img{
	z-index: 0;
	position: relative;
	display: none;
	width: 100%;
}

// serv-tab_i
.serv-tab_i{
	display: none;
	&.active{
		display: block;
	}
}

.serv-tab_i_img{
	>img{
		display: none;
		width: 100%;
	}
}
.serv-tab_i_title{
	font-size: 18px;
	font-weight: 600;
}


.serv-tab_i_text-wrap{
	position: relative;
	margin: 0 0 20px;
	max-height: 1000px;
	&.active{
		.serv-tab_i_text{
			max-height: 1000px;
		}
		.serv-tab_i_open{
			display: none;
		}
		.serv-tab_i_hide{
			display: inline-block;
		}
	}
}
.serv-tab_i_open,
.serv-tab_i_hide{
	cursor: pointer;
	font-size: 15px;
	line-height: 1.7;
	color: $acc-c-red;
	font-family: $f-segoe;
	font-weight: 600;
}
.serv-tab_i_open{
	display: inline-block;
}
.serv-tab_i_hide{
	display: none;
}

.serv-tab_i_text{
	position: relative;
	font-size: 15px;
	line-height: 1.7;
	font-family: $f-segoe;
	overflow: hidden;
	max-height: 99px;
	transition: max-height 1s;
}
.serv-tab_i_content{
	.button{
		margin: 0 17px 18px 0;
	}
}
