$slide_speed_transition: 0.4s;

.slide-panel{
	z-index: 998;
	position: fixed;
	top: 0;
	left: 0;
	padding: 70px 0 30px 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	color: $c-b;
	background: linear-gradient(to right,$acc-c-lighten_lide-panel, $acc-c-darken_lide-panel);
	transition: width $slide_speed_transition;
	// opacity: 0.8;
	ul{
		list-style: none;
	}
}
.slide-panel_content{
	position: relative;
	height: 100%;
	overflow-x: hidden;
	padding: 0 30px 0 90px;
	transition: padding $slide_speed_transition;
}

.site-nav{
	width: 259px;
}


//slide panel active stage
.slide-panel.active{
	width: 320px;
	.slide-panel_content{
		padding: 0 30px 0 35px;
	}

	.menu-pages-wrap{
		>ul{
			>li{
				>a{
					margin-left: 0;
					padding-left: 68px;
					border-radius: 45px;
					&::before{
						left: 20px;
					}
				}
			}
		}
	}
	.slide-panel_sandwich-wrap{
		left: 31px;
	}
}
//END slide panel active stage



//menu pages
.menu-pages-wrap{
	margin-bottom: 20px;
	margin-left: -20px;
	>ul{
		>li{
			>a{
				position: relative;
				display: block;
				margin-left: -90px;
				padding-left: 90px;
				margin-right: 0;
				margin-bottom: 1px;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-right: 0;
				font-size: 17px;
				font-weight: 200;
				letter-spacing: 0.2px;
				border-radius: 0;
				color: $c-b;
				transition: $slide_speed_transition;
				&:hover{
					text-decoration: none;
					background-color: $menu-pages-hover-bg;
				}
				&::before{
					content: "";
					display: block;
					position: absolute;
					width: 25px;
					height: 25px;
					// left: 33px;
					transition: left 0.4s;
				}
			}
			&.menu-pages_home > a{
				&::before{
					margin-left: -1px;
					top: 7px;
					background: url("../img/svg/front-page/menu/1.svg") 0 0 no-repeat;
				}
			}
			&.menu-pages_print > a{
				&::before{
					top: 13px;
					background: url("../img/svg/front-page/menu/2.svg") 0 0 no-repeat;
				}
			}
			&.menu-pages_archive > a{
				&::before{
					margin-left: -1px;
					top: 10px;
					background: url("../img/svg/front-page/menu/3.svg") 0 0 no-repeat;
				}
			}
			&.menu-pages_about > a{
				&::before{
					width: 26px;
					top: 10px;
					background: url("../img/svg/front-page/menu/4.svg") 0 0 no-repeat;
				}
			}
			&.menu-pages_info > a{
				&::before{
					top: 10px;
					background: url("../img/svg/front-page/menu/5.svg") 0 0 no-repeat;
				}
			}
			&.menu-pages_contacts > a{
				&::before{
					top: 10px;
					background: url("../img/svg/front-page/menu/6.svg") 0 0 no-repeat;
				}
			}
		}//li
	}
}
//END menu pages

.menu-categories-wrap{
	margin-bottom: 20px;
	>ul{
		>li{
			a{
				display: inline-block;
				font-size: 15px;
				font-weight: 400;
				color: #000;
				transition: all 0.2s;
			}
			>a{
				position: relative;
				margin: 3px 0;
				padding: 5px 25px 5px 0;
				font-size: 16px;
				font-weight: 600;
				letter-spacing: 0.2px;
				&:hover{
					color: $acc-c-red;
					&::before{
						background-color: $acc-c-red;
					}
				}
			}
			.sub-menu-sibling{
				&::after{
					content: "";
					display: block;
					position: absolute;
					top: 16px;
					right: 4px;
					transition: all 0.5s;
					border: 4px solid transparent;	border-top: 4px solid #9CD289;
				}
				&::before{
					content: "";
					display: block;
					position: absolute;
					top: 10px;
					right: 0;
					width: 16px;
					height: 16px;
					background-color: rgba(0,0,0,0.3);
					border-radius: 50%;
					transition: all 0.5s;
				}
			}//sub-menu-sibling
		}//li
	}
}

//sub-menu
.menu-categories-wrap{
	>ul{
		ul{
			margin: 0 0 5px 15px;
			>li{
				>a{
					margin: 3px 0;
					padding: 3px 0;
				}
			}
		}
	}
}
//active stage
.menu-categories-wrap{
	>ul{
		>li.active{
			// >a{
			// 	color: $acc-c-red;
			// 	text-decoration: underline;
			// 	&::after{
			// 		transition: all 0.5s;
			// 	}
			// 	&::before{
			// 		background-color: $acc-c-red;
			// 	}
			// }
			.sub-menu-sibling{
				&::after{
					top: 12px;
					right: 4px;
					border: 4px solid transparent;
					border-bottom: 4px solid #9CD289;
				}
				&::before{
					transition: all 0.5s;
				}
			}
		}
	}
}
//END menu categories

.slide-panel-button{
	display: block;
	margin: 0 0 20px;
	padding: 10px 30px;
	width: 100%;
	max-width: 240px;
	border-radius: 50px;
	background-color: $c-w;
	text-align: center;
	color: $c-b;
	font-family: 'SegoeUI';
	font-size: 16px;
	line-height: 18px;
	transition: background-color 0.2s;
	&:hover{
		color: $c-b;
		background-color: rgba(255,255,255,0.4);
	}
}


.menu-phones-wrap{
	position: relative;
	padding: 1px 0 9px 0;
	padding-left: 85px;
	font-family: 'SegoeUI';
	&::before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 68px;
		height: 88px;
		background: url("../img/svg/front-page/menu/phone_menu.svg") 0 0 no-repeat;
	}
	>ul{
		margin: -5px 0 8px;
		>li{
			>a{
				display: block;
				margin: 0 0 3px;
				font-size: 19px;
				color: $c-b;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	.menu-phones-wrap_callback{
		display: inline-block;
		font-size: 18px;
		text-decoration: underline;
		// text-decoration-style: dotted;
		color: $acc-c-red;
		transition: color 0.2s;
		&:hover{
			color: $c-w;
		}
	}
}





//sandwich
.slide-panel_sandwich-wrap{
	z-index: 1;
	position: absolute;
	top: 30px;
	transition: all 0.2s;
}
.slide-panel_sandwich{
	.sw-topper, .sw-bottom, .sw-footer{
		background: #000;
	}
	&.active{
		.sw-topper, .sw-bottom, .sw-footer{
			background: #000;
		}
	}
	&.active .sw-topper{
		top: 13px
	}
}
//END sandwich