@import "parts/fonts";
@import "tools/variables";
@import "tools/reset_and_basic-classes";


@import "libs/slideOut";
@import "libs/sandwich";


//sticky footer IE10+
html,
body {
  height: 100%;
  min-width: 320px;
	font-family: Arial, Helvetica, sans-serif;
}
.page{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page_main-content-wrapper{
  flex: 1 0 auto;
}
// header,
footer{
  flex: 0 0 auto;
}
//END sticky footer IE10+

//main tags & classes
html{}
body{
	position: relative;
	min-width: 340px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: $c-b;
	background-color: #fff;
}
.page{
	position: relative;
}

.button{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}


// @import "parts/";

@import "header";

@import "s-homescreen";

@import "s-slide-panel";
@import "modal-callback";


@import "media";
