$c-w: #fff;
$c-b: #1E1D22;

$c-b-header: rgba(30,29,34,0.8);
$c-b-header-lighten: rgba(30,29,34,0.6);

$acc-c: #8BC62E;
$acc-c-red: #A47049;

$acc-c-lighten: #8BC62E;
$acc-c-darken: #4FC15F;

$acc-c-lighten_lide-panel: #B2D96F;
$acc-c-darken_lide-panel: #8DCE98;

$sandwich-color: #000;