$c-w: #fff;
$c-b: #333;
$c-b-rgba: rgba(51,51,51,1);


$acc-c: #8AC630;

$acc-c-lighten: #8AC630; 
$acc-c-lighten-rgba: rgba(138, 198, 48, 1);
$acc-c-darken: #50C160;
$acc-c-darken-rgba: rgba(80, 193, 96, 1);


//slide panel
$sandwich-color: #000;
$acc-c-red: #A47049;
$menu-pages-hover-bg: rgba(255,255,255,0.2);
$acc-c-lighten_lide-panel: #B2D96F;
$acc-c-darken_lide-panel: #8DCE98;
//END slide panel



$slider-nav-layer: rgba(0,0,0, 0.5);
$slider-nav-hover-layer: rgba(139, 198, 46, 0.4);

$section-black-out-layer: rgba(0,0,0, 0.5);

$f-gotic: 'gothic';
$f-segoe: 'SegoeUI';