$c-w: #fff;
$c-b: #1E1D22;

$c-b-header: rgba(30,29,34,0.8);
$c-b-header-lighten: rgba(30,29,34,0.6);

$acc-c: #8BC62E;
$acc-c-red: #A47049;

$acc-c-lighten: #8BC62E; 
$acc-c-lighten-rgba: rgba(139, 198, 46, 1);
$acc-c-darken: #4FC15F;
$acc-c-darken-rgba: rgba(79, 193, 95, 1);

$acc-c-lighten_lide-panel: #B2D96F;
$acc-c-darken_lide-panel: #8DCE98;

$sandwich-color: #000;
$sandwich-color-active: #000;

$slide_panel_transitin: all 0.4s;



$slider-nav-layer: rgba(0,0,0, 0.5);
$slider-nav-hover-layer: rgba(139, 198, 46, 0.4);

$section-black-out-layer: rgba(0,0,0, 0.5);
