@charset "UTF-8";
@font-face {
  font-family: 'PF Square Sans Pro';
  src: url("../fonts/pfsquaresanspro-bold.eot");
  src: url("../fonts/pfsquaresanspro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-bold.woff2") format("woff2"), url("../fonts/pfsquaresanspro-bold.woff") format("woff"), url("../fonts/pfsquaresanspro-bold.ttf") format("truetype"), url("../fonts/pfsquaresanspro-bold.svg#pf_square_sans_probold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PF Square Sans Pro';
  src: url("../fonts/pfsquaresanspro-medium.eot");
  src: url("../fonts/pfsquaresanspro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-medium.woff2") format("woff2"), url("../fonts/pfsquaresanspro-medium.woff") format("woff"), url("../fonts/pfsquaresanspro-medium.ttf") format("truetype"), url("../fonts/pfsquaresanspro-medium.svg#pf_square_sans_promedium") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PF Square Sans Pro';
  src: url("../fonts/pfsquaresanspro-regular.eot");
  src: url("../fonts/pfsquaresanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-regular.woff2") format("woff2"), url("../fonts/pfsquaresanspro-regular.woff") format("woff"), url("../fonts/pfsquaresanspro-regular.ttf") format("truetype"), url("../fonts/pfsquaresanspro-regular.svg#pf_square_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media only screen and (min-width: 1px) {
  .contacts-list > li {
    margin: 0 6px 0 0;
  }
  .contacts-list > li:before {
    margin: 0 5px 0 0;
  }
  .lang-list {
    margin-right: 0;
  }
  .menu {
    text-align: center;
  }
  .menu:before {
    display: none;
  }
  .menu > li {
    display: inline-block;
    margin: 0 11px;
    font-size: 16px;
  }
  .hs-heading-1 {
    padding-left: 0;
    text-align: center;
  }
  .hs-heading-2 {
    margin: 10px auto 30px;
    width: 380px;
    height: 173px;
  }
  .hs-heading-2 h1 {
    padding-top: 15px;
    font-size: 50px;
    line-height: 50px;
  }
  .hs-heading-3 > p:first-of-type {
    margin: 15px 0 10px;
    text-align: center;
  }
  .event_img-wrap {
    float: none;
    margin: 0 auto;
  }
  .event_descr {
    margin: 10px;
    text-align: center;
    line-height: 22px;
  }
  .event_heading {
    margin: 0 0 5px;
  }
  .events {
    padding: 74px 0 40px 0;
  }
  .step2::after,
  .step4::after {
    display: none;
  }
  .for-whom {
    height: auto;
  }
  .for-whom .sec-title {
    font-size: 24px;
    line-height: 24px;
  }
  .for-whom-i {
    height: 645px;
    max-width: 380px;
  }
  .for-whom-i::before {
    top: 210px;
    left: 0;
    width: 270px;
  }
  .for-whom-i .wrap1 {
    margin: 30px 0 0;
    width: 380px;
    height: 177px;
    background: url(../img/homescreen-heading.png) no-repeat;
  }
  .for-whom-i .title {
    padding: 5px 0 0 0px;
    text-align: center;
    font-size: 28px;
  }
  .for-whom-i .text1 {
    padding: 0px 9px 0;
    font-size: 16px;
    line-height: 17px;
  }
  .for-whom-i .wrap2 {
    margin: 30px 0 0 67%;
  }
  .for-whom-i .button {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: 0 0 0 -160px;
  }
  #for-whom-car .owl-dots {
    bottom: 68px;
  }
  #for-whom-car .owl-prev,
  #for-whom-car .owl-next {
    display: none;
  }
  .for-others {
    padding: 40px 0 20px;
  }
  .for-others-list > li {
    padding: 0 10px 20px;
  }
  .about_video-btn {
    display: block;
    float: none;
    margin: 50px auto 0;
    width: 265px;
    height: 95px;
    padding-top: 170px;
  }
  .about_content {
    padding: 20px 0 0;
    text-align: center;
  }
  .about_title {
    margin: 0 0 10px;
  }
  .about_text {
    margin: 15px auto 0;
    line-height: 22px;
    max-width: 550px;
  }
  .solutions-car {
    margin: 0 auto;
    max-width: 400px;
  }
  .solutions-car-i {
    height: 290px;
    background: url(../img/vendors-photos-slide.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
  }
  .solutions-car-i > img {
    width: 175px;
    height: 122px;
    margin: 9px 15px 19px 10px;
  }
  .last-heading-wrap {
    margin: 40px auto 0;
    width: 380px;
    height: 149px;
  }
  .last-heading {
    padding-top: 5px;
    font-size: 41px;
    line-height: 41px;
  }
  .last-heading .small {
    font-size: 23px;
    line-height: 36px;
  }
  .last-heading .accent {
    font-size: 50px;
    line-height: 50px;
  }
  .last form {
    margin: 30px auto 0;
  }
}

@media only screen and (min-width: 480px) {
  .contacts-list > li {
    margin: 0 19px 0 0;
  }
  .contacts-list > li:before {
    margin: 0 10px 0 0;
  }
  .lang-list {
    margin-right: 21px;
  }
  .hs-heading-2 {
    margin: 20px auto 40px;
    width: 423px;
    height: 192px;
  }
  .hs-heading-2 h1 {
    font-size: 60px;
    line-height: 60px;
  }
  .event_descr {
    margin: 10px 30px;
  }
  .for-whom .sec-title {
    font-size: 28px;
    line-height: 25px;
  }
  .for-whom-i {
    height: 645px;
    max-width: 460px;
  }
  .for-whom-i::before {
    top: 187px;
    left: 30px;
    width: 290px;
  }
  .for-whom-i .wrap1 {
    width: 444px;
    background: url(../img/for-you-text.png) no-repeat;
  }
  .for-whom-i .title {
    font-size: 32px;
  }
  .for-whom-i .wrap2 {
    margin: 20px 0 0 67%;
  }
  .about_video-btn {
    margin: 70px auto 0;
  }
  .about_text {
    line-height: 24px;
  }
  .last-heading-wrap {
    margin: 40px auto 0;
    width: 440px;
    height: 172px;
  }
  .last-heading {
    padding-top: 11px;
    font-size: 45px;
    line-height: 45px;
  }
  .last-heading .small {
    font-size: 26px;
  }
  .last-heading .accent {
    font-size: 57px;
  }
}

@media only screen and (min-width: 768px) {
  .menu:before {
    display: none;
  }
  .menu > li {
    float: left;
    margin: 0 11px;
    font-size: 14px;
  }
  .hs-heading-2 {
    margin: 23px auto 0;
    width: 605px;
    height: 275px;
  }
  .hs-heading-2 h1 {
    padding-top: 42px;
    font-size: 80px;
    line-height: 80px;
  }
  .hs-heading-2 h1 > span {
    font-size: 85px;
    line-height: 85px;
  }
  .event_img-wrap {
    float: left;
    margin: 0 40px 0 0;
  }
  .event_descr {
    margin: 0;
    text-align: left;
  }
  .event_heading {
    margin: 0;
  }
  .step2::after {
    display: block;
  }
  .steps .container {
    position: relative;
  }
  .steps .container::before {
    display: block;
    content: '';
    position: absolute;
    left: -355px;
    top: -248px;
    width: 452px;
    height: 409px;
    background: url(../img/decor-1.png) no-repeat;
  }
  .for-whom .sec-title {
    font-size: 29px;
    line-height: 30px;
  }
  .for-whom-i {
    height: 685px;
    max-width: 500px;
  }
  .for-whom-i::before {
    top: 190px;
    left: 30px;
    width: 320px;
  }
  .for-whom-i .wrap1 {
    margin: 30px 0 0;
    width: 500px;
  }
  .for-whom-i .title {
    font-size: 36px;
  }
  .for-whom-i .text1 {
    padding: 0px 23px 0;
    font-size: 16px;
    line-height: 18px;
  }
  .for-whom-i .wrap2 {
    margin: 55px 0 0 67%;
  }
  .solutions-car {
    max-width: 614px;
  }
  .solutions-car-i {
    height: 452px;
    -webkit-background-size: auto auto;
            background-size: auto;
  }
  .solutions-car-i > img {
    width: 264px;
    height: 185px;
    margin: 14px 29px 27px 14px;
  }
  .last-heading-wrap {
    margin: 20px auto 0;
    width: 605px;
    height: 237px;
  }
  .last-heading {
    padding-top: 20px;
    font-size: 64px;
    line-height: 60px;
  }
  .last-heading .small {
    font-size: 36px;
    line-height: 36px;
  }
  .last-heading .accent {
    font-size: 76px;
    line-height: 63px;
  }
  .last form {
    margin: 5px auto 0;
  }
}

@media only screen and (min-width: 992px) {
  .menu {
    margin: 0;
  }
  .menu:before {
    display: block;
  }
  .hs-heading-1 {
    padding-left: 30px;
    text-align: left;
  }
  .hs-heading-2 {
    margin: 23px 15px 0;
  }
  .hs-heading-3 > p:first-of-type {
    margin: 72px 0 16px 12px;
    text-align: left;
  }
  .button1 {
    display: none !important;
  }
  .form-resp {
    width: 100%;
    margin-left: 0;
  }
  .form-resp > h3 {
    font-size: 25px;
  }
  .form-resp .button {
    font-size: 18px;
  }
  .event_descr {
    line-height: 26px;
  }
  .events {
    padding: 74px 0 66px 0;
  }
  .step4::after {
    display: block;
  }
  .steps .container::before {
    left: -320px;
    top: -248px;
  }
  .for-whom .sec-title {
    font-size: 39px;
    line-height: 39px;
  }
  .for-whom-i {
    height: 660px;
    max-width: 100%;
  }
  .for-whom-i::before {
    top: 0;
    left: 27;
    width: 484px;
    height: 597px;
  }
  .for-whom-i .wrap1 {
    margin: 107px 0 0 452px;
  }
  .for-whom-i .wrap2 {
    margin: 20px 0 0 503px;
  }
  .for-whom-i .text3 {
    margin: 0 0 0 30px;
  }
  .for-whom-i .button {
    position: static;
    margin: 20px 0 0 560px;
  }
  #for-whom-car .owl-dots {
    bottom: 25px;
  }
  .for-others {
    padding: 40px 0 40px;
  }
  .for-others-list > li {
    padding: 0 13px;
    border-left: 1px solid #6d7af5;
  }
  .about_video-btn {
    float: left;
    width: 333px;
    height: 121px;
    margin: 189px 50px 0 114px;
    padding-top: 212px;
  }
  .about_content {
    padding: 185px 0 0;
    text-align: left;
  }
  .about_title {
    margin: 0 0 17px;
  }
  .about_text {
    margin: 25px 0 0;
    max-width: 100%;
  }
  .solutions-heading {
    float: left;
    margin: 30px 0 0 0;
    width: 300px;
  }
  .solutions-heading > .sec-title {
    text-align: left;
  }
  .solutions-heading > .sec-subtitle {
    text-align: left;
    margin: 36px 25px 0 0;
  }
  .solutions-car {
    float: right;
  }
  .last-heading-wrap {
    margin: 197px 0 0 30px;
  }
  .last form {
    margin: 162px 0 0;
  }
}

@media only screen and (min-width: 1200px) {
  .menu > li {
    margin: 0 18px;
  }
  .form-resp {
    margin-left: 32px;
    width: 385px;
  }
  .form-resp > h3 {
    font-size: 28px;
  }
  .form-resp .button {
    font-size: 20px;
  }
  .advantages .container {
    width: 1040px;
  }
  .steps .container::before {
    left: -283px;
    top: -248px;
  }
  .for-whom .sec-title {
    font-size: 40px;
    line-height: 40px;
  }
  .for-whom-i {
    height: 615px;
    max-width: 100%;
  }
  .for-whom-i::before {
    top: 20px;
    left: 27px;
    width: 484px;
    height: 597px;
  }
  .for-whom-i.item3::before {
    width: 536px;
  }
  .for-whom-i .wrap1 {
    width: 537px;
    height: 190px;
    margin: 110px 0 0 469px;
  }
  .for-whom-i .title {
    padding: 20px 0 0 24px;
    font-size: 36px;
    text-align: left;
  }
  .for-whom-i .text1 {
    padding: 3px 26px 0 26px;
    line-height: 20px;
  }
  .for-whom-i .wrap2 {
    margin: 27px 0 0 503px;
  }
  .for-whom-i .text3 {
    margin: 0;
  }
  .for-whom-i .button {
    position: static;
    margin: 21px 0 0 540px;
  }
  #for-whom-car .owl-dots {
    display: none;
  }
  #for-whom-car .owl-prev,
  #for-whom-car .owl-next {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 70px;
    height: 70px;
    margin-top: -35px;
  }
  #for-whom-car .owl-prev {
    left: -75px;
    background: url(../img/arrow-left-1.png) no-repeat !important;
  }
  #for-whom-car .owl-next {
    right: -75px;
    background: url(../img/arrow-right-1.png) no-repeat !important;
  }
  .for-others-list > li {
    padding: 0 22px;
  }
  .about_content {
    padding: 200px 0 0;
  }
  .media .container-1 {
    position: relative;
  }
  .media .container-1::before {
    display: block;
    content: '';
    position: absolute;
    right: -394px;
    top: -277px;
    width: 573px;
    height: 558px;
    background: url(../img/decor-2.png) no-repeat;
  }
  .solutions-heading {
    margin: 120px 0 0 29px;
    width: 400px;
  }
  .last form {
    margin: 162px 0 0 30px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

input {
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.clear {
  clear: both;
}

.clear-a::after {
  content: " ";
  display: table;
  clear: both;
}

html {
  min-width: 400px;
}

@media only screen and (min-width: 1200px) {
  html {
    margin-right: 0 !important;
  }
}

body {
  position: relative;
  font: 14px 'PF Square Sans Pro';
  color: #000;
  background-color: #fff;
}

.page {
  overflow: hidden;
  position: relative;
}

.container-1 {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container-1 {
    width: 748px;
  }
}

@media (min-width: 992px) {
  .container-1 {
    width: 972px;
  }
}

@media (min-width: 1200px) {
  .container-1 {
    width: 1100px;
  }
}

.events,
.advantages,
.steps,
.photos,
.certs,
.media {
  background: url(../img/bg-5.png);
}

.sec-title {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.sec-subtitle {
  margin: 9px auto 30px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.button {
  display: block;
  padding: 0;
  font-weight: 600;
  color: #fff;
  background: #ff9000;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
  -webkit-box-shadow: inset 1px -3px 0px 0px rgba(141, 80, 0, 0.39);
          box-shadow: inset 1px -3px 0px 0px rgba(141, 80, 0, 0.39);
  border: none;
  text-decoration: none;
  outline: none;
  text-decoration: none !important;
}

.button:hover {
  color: #fff;
  background: #ffae00;
}

.button:active {
  color: #fff;
  background: #ffae00;
  -webkit-box-shadow: inset -1px 3px 0px 0px rgba(141, 80, 0, 0.39);
          box-shadow: inset -1px 3px 0px 0px rgba(141, 80, 0, 0.39);
}

.button:focus {
  color: #fff;
}

.button1,
.button2 {
  margin: 21px 0 0;
  max-width: 320px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
}

.button1:active,
.button2:active {
  line-height: 54px;
}

.button1 {
  margin: 20px auto 0;
  width: 320px;
}

.button3 {
  margin: 16px auto 0;
  min-width: 160px;
  max-width: 200px;
  height: 35px;
  font-size: 16px;
  line-height: 35px;
}

.button3:active {
  line-height: 39px;
}

.owl-carousel img {
  height: 100%;
}

.sandwich {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 15px;
  margin: auto;
  cursor: pointer;
}

.sw-topper, .sw-bottom, .sw-footer {
  background: #d9dcec;
  position: relative;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2, -webkit-transform 0.5s;
  transition: top 0.2, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2;
  transition: transform 0.5s, top 0.2;
  transition: transform 0.5s, top 0.2, -webkit-transform 0.5s;
}

.sw-topper {
  top: 0;
  width: 40px;
  height: 3px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
}

.sw-bottom {
  width: 40px;
  height: 3px;
  top: 9px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
       -o-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s;
}

.sw-footer {
  width: 40px;
  height: 3px;
  top: 18px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.sandwich.active .sw-topper {
  top: 14px;
  -webkit-transform: rotate(138deg);
      -ms-transform: rotate(138deg);
          transform: rotate(138deg);
}

.sandwich.active .sw-bottom {
  top: 10px;
  -webkit-transform: rotate(-138deg);
      -ms-transform: rotate(-138deg);
          transform: rotate(-138deg);
}

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sandwich.active .sw-topper, .sandwich.active .sw-bottom, .sandwich.active .sw-footer {
  background: #ff9000;
}

@media only screen and (max-width: 1200px) {
  .my-owl-theme .owl-dots {
    margin: 10px 0 0;
    text-align: center;
  }
  .my-owl-theme .owl-dot {
    display: inline-block;
    margin: 0 6px;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #c1c1c1;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }
  .my-owl-theme .owl-dot.active {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    background-color: #ff9000;
  }
}

@media only screen and (min-width: 1200px) {
  .my-owl-theme .owl-prev,
  .my-owl-theme .owl-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background: url(../img/sprite-1.png) no-repeat;
  }
  .my-owl-theme .owl-prev {
    left: -100px;
    background-position: 0 -21px !important;
  }
  .my-owl-theme .owl-next {
    right: -100px;
    background-position: 0 -72px !important;
  }
}

form {
  width: 385px;
  border: 10px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: url(../img/bg-4.png);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
}

form > h3 {
  padding: 33px 0 5px;
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

form > h3 span {
  color: #ff9000;
}

.form-inputs {
  margin: 5px 26px 0;
}

.input-wrap {
  position: relative;
  margin: 13px 0 0;
  padding: 11px 14px 9px 44px;
  background: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0px 3px 0px 0px #d6d6d6;
          box-shadow: inset 0px 3px 0px 0px #d6d6d6;
}

.input-wrap::before {
  content: '';
  position: absolute;
  display: block;
  background: url(../img/sprite-1.png) no-repeat;
}

.input-wrap.error {
  border-color: red;
  -webkit-box-shadow: inset 0px 3px 0px 0px rgba(255, 0, 0, 0.3);
          box-shadow: inset 0px 3px 0px 0px rgba(255, 0, 0, 0.3);
}

.input-wrap.name::before {
  left: 15px;
  top: 17px;
  width: 16px;
  height: 18px;
  background-position: -38px 0;
}

.input-wrap.name::after {
  display: block;
  content: '*';
  position: absolute;
  right: 7px;
  top: 17px;
  font-size: 22px;
  color: #f00;
}

.input-wrap.phone::before {
  left: 14px;
  top: 18px;
  width: 18px;
  height: 20px;
  background-position: -55px 0;
}

.input-wrap.phone::after {
  display: block;
  content: '*';
  position: absolute;
  right: 7px;
  top: 17px;
  font-size: 22px;
  color: #f00;
}

.input-wrap.email {
  margin: 47px 0 0;
}

.input-wrap.email::before {
  left: 14px;
  top: 18px;
  width: 18px;
  height: 19px;
  background-position: -74px 0;
}

.input-wrap.email::after {
  display: block;
  content: 'или';
  position: absolute;
  top: -35px;
  left: 50%;
  margin: 0 0 0 -16px;
  color: #ff9000;
  font-size: 16px;
  font-weight: bold;
}

.input-wrap > input {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  color: #000 !important;
  border: none;
  outline: none;
  background: none;
}

.input-wrap > input::-webkit-input-placeholder {
  color: #000;
}

.input-wrap > input::-moz-placeholder {
  color: #000;
}

.input-wrap > input:-ms-input-placeholder {
  color: #000;
}

.input-wrap > input::-ms-input-placeholder {
  color: #000;
}

.input-wrap > input::placeholder {
  color: #000;
}

.privacy {
  position: relative;
  display: block;
  margin: 10px auto 10px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
}

.privacy:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  margin: -5px 5px 0 0;
  width: 13px;
  height: 18px;
  background: url(../img/sprite-1.png) -93px 0 no-repeat;
}

header {
  color: #d9dcec;
}

.info-row {
  height: 50px;
  background: url(../img/bg-2.png);
}

.lang-list,
.contacts-list {
  margin-top: 15px;
  float: right;
  list-style: none;
}

.lang-list li,
.contacts-list li {
  float: left;
}

.contacts-list li {
  position: relative;
}

.contacts-list li::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 20px;
}

.contacts-list li.phone {
  font-size: 16px;
}

.contacts-list li.phone span {
  font-size: 12px;
}

.contacts-list li.phone::before {
  background: url(../img/sprite-1.png) no-repeat;
}

.contacts-list li.email {
  font-size: 15px;
  letter-spacing: 0.7px;
}

.contacts-list li.email::before {
  background: url(../img/sprite-1.png) -19px 0 no-repeat;
}

.lang-list > li > a {
  margin: 0 6px;
  text-transform: uppercase;
  color: inherit;
  font-size: 13px;
}

.lang-list > li > a:hover {
  text-decoration: none;
}

.lang-list > li > a.active {
  color: #ff9000;
  text-decoration: underline;
}

.menu-row {
  min-height: 60px;
  background: url(../img/bg-3.png);
}

.logo {
  margin: 21px auto;
  width: 215px;
  height: 18px;
  background: url(../img/header-logo.png) no-repeat;
}

.menu {
  list-style: none;
}

.menu:before {
  content: '';
  position: absolute;
  left: 0;
  top: 18px;
  width: 1px;
  height: 24px;
  background: #6d7af5;
}

.menu > li > a {
  display: block;
  height: 60px;
  line-height: 58px;
  color: inherit;
  text-decoration: none;
}

.menu > li > a:hover:after {
  display: block;
  content: '';
  width: 32px;
  height: 2px;
  margin: 0 auto;
  background: #f00;
}

@media only screen and (max-width: 768px) {
  .col-menu {
    display: block !important;
    min-height: 0px !important;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: max-height 0.5s, opacity 0.5s;
    -o-transition: max-height 0.5s, opacity 0.5s;
    transition: max-height 0.5s, opacity 0.5s;
  }
  .col-menu.active {
    max-height: 180px;
    opacity: 1;
  }
}

.homescreen {
  height: 700px;
  background: url(../img/bg-1-1.jpg) center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff;
}

.hs-heading-1 {
  padding-top: 21px;
}

.hs-heading-1 > p {
  font-size: 16px;
  line-height: 20px;
}

.hs-heading-1 > img {
  margin: 0 0 0 50%;
}

.hs-heading-2 {
  text-align: center;
  text-transform: uppercase;
  background: url(../img/homescreen-heading.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

h1 {
  font-weight: bold;
}

h1 > span {
  color: #ff9000;
}

.hs-heading-2 > h3 {
  padding-top: 5px;
  font-size: 19px;
  letter-spacing: 3.8px;
  font-weight: 200;
  color: #afb4d1;
}

.hs-heading-3 {
  margin: 21px 0 0;
}

.hs-heading-3 > h3 {
  font-size: 37px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.hs-heading-3 > p:first-of-type {
  padding: 4px 8px;
  line-height: 20px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
}

.hs-heading-3 > p:first-of-type span {
  color: #ff9000;
}

.hs-heading-3 > p {
  font-size: 17px;
  text-align: center;
}

.homescreen form {
  margin: 143px 0 0 32px;
}

.events-car {
  margin: 0 auto;
  max-width: 840px;
}

.events .sec-title {
  margin: 0 0 28px;
}

.event_img-wrap {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  padding: 13px 13px 13px 14px;
  width: 230px;
  height: 160px;
  text-decoration: none;
  background: url(../img/photos-item-photo.png) no-repeat;
}

.event_descr {
  font-size: 18px;
}

.event_heading {
  font-size: 18px;
}

.advantages {
  padding: 76px 0 77px 0;
}

.advantages .sec-title,
.advantages .sec-subtitle {
  color: #202334;
}

.advantage {
  height: 295px;
  overflow: hidden;
}

.advantage-icon {
  width: 155px;
  height: 155px;
  margin: 0 auto;
  background: url(../img/advantages-icons.png) no-repeat;
}

.adv-icon-2 {
  background-position: -156px 0;
}

.adv-icon-3 {
  background-position: -312px 0;
}

.adv-icon-4 {
  background-position: -468px 0;
}

.adv-icon-5 {
  background-position: 0 -156px;
}

.adv-icon-6 {
  background-position: -156px -156px;
}

.adv-icon-7 {
  background-position: -312px -156px;
}

.adv-icon-8 {
  background-position: -468px -156px;
}

.advantage-title {
  margin-top: 14px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.advantage-text {
  margin-top: 5px;
  line-height: 18px;
  color: #373a4e;
  text-align: center;
}

.advantages .hint {
  margin: 5px auto 0;
  max-width: 900px;
  text-align: center;
  line-height: 18px;
}

.steps {
  z-index: 1;
  position: relative;
  padding: 73px 0 36px 0;
  border-top: 1px solid #a1a1a1;
}

.step1,
.step2,
.step3,
.step4,
.step5,
.step6 {
  padding: 0 5px;
  min-height: 200px;
}

.step1::after,
.step2::after,
.step3::after,
.step4::after,
.step5::after,
.step6::after {
  content: '';
  position: absolute;
  right: -14px;
  top: 51px;
  width: 28px;
  height: 9px;
  background: url(../img/sprite-1.png) -80px -21px no-repeat;
}

.step1,
.step3,
.step5,
.step6 {
  display: block;
}

.step1::after {
  background-position: -51px -21px;
}

.step4::after {
  background-position: -51px -21px;
}

.step6::after {
  display: none;
}

.step-icon1,
.step-icon2,
.step-icon3,
.step-icon4,
.step-icon5,
.step-icon6 {
  position: relative;
  margin: 0 auto;
  width: 111px;
  height: 111px;
  background: url(../img/presentation-icons.png) no-repeat;
}

.step-icon1 {
  background-position: 0 0;
}

.step-icon2 {
  background-position: -111px 0;
}

.step-icon3 {
  background-position: -334px 0;
}

.step-icon4 {
  background-position: -223px 0;
}

.step-icon5 {
  background-position: -446px 0;
}

.step-icon6 {
  background-position: -557px 0;
}

.step-title {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.for-whom {
  position: relative;
  padding: 74px 0 0;
  background: url(../img/bg-7.png);
}

.for-whom::before {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg-6-1.jpg) center top no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.for-whom .sec-title {
  color: #fff;
  font-weight: 200;
}

.for-whom .sec-title > b > sup {
  color: #f00;
  text-transform: none;
}

.for-whom-i {
  position: relative;
  margin: 0 auto;
}

.for-whom-i::before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  height: 597px;
  background: url(../img/for-you-man-1.png) no-repeat;
}

.for-whom-i.item1::before {
  background: url(../img/for-you-man-1.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.for-whom-i.item2::before {
  background: url(../img/for-you-man-2.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.for-whom-i.item3::before {
  background: url(../img/for-you-man-3.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.for-whom-i .wrap1 {
  display: inline-block;
  -webkit-background-size: contain;
          background-size: contain;
}

.for-whom-i .title {
  color: #ff9000;
  font-weight: bold;
  text-transform: uppercase;
}

.for-whom-i .text1 {
  text-align: justify;
  color: #fff;
}

.for-whom-i .wrap2 {
  color: #fff;
}

.for-whom-i .text2 {
  font-size: 42px;
  line-height: 40px;
  font-weight: bold;
}

.for-whom-i .text3 {
  font-size: 20px;
  line-height: 22px;
}

#for-whom-car .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

#for-whom-car .owl-dot {
  display: inline-block;
  margin: 0 6px;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #c1c1c1;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

#for-whom-car .owl-dot.active {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  background-color: #ff9000;
}

.for-others {
  position: relative;
  color: #fff;
  background: url(../img/bg-7.png);
}

.for-others::before {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg-6-2.jpg) center top no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.for-others .sec-title {
  font-size: 40px;
  font-weight: 600;
  color: #595d6e;
  text-align: center;
  text-transform: uppercase;
}

.for-others-list {
  margin-top: 16px;
  list-style: none;
  text-align: center;
}

.for-others-list > li {
  display: inline-block;
  font-size: 18px;
  line-height: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.for-others-list > li:first-child {
  border-left: none;
}

.photos {
  padding: 74px 0 100px 0;
}

.photos-car {
  margin: 0 auto;
  max-width: 870px;
}

.photos-i {
  margin: 0 auto;
  max-width: 257px;
  text-align: center;
}

.photos-i_img-wrap {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  width: 230px;
  height: 160px;
  padding: 13px 13px 13px 14px;
  text-decoration: none;
  background: url(../img/photos-item-photo.png) no-repeat;
}

.photos-i_title {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.photos-i_text {
  margin: 11px 3px 0;
  font-size: 14px;
  line-height: 18px;
}

.about {
  min-height: 710px;
  padding: 1px 0 0;
  color: #fff;
  background: url(../img/bg-8.jpg) center top no-repeat;
  background-color: white;
}

.about_video-btn {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  font-size: 21px;
  color: #fff !important;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  outline: none;
  text-decoration: none;
  background: url(../img/about-play-btn.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.about_content {
  text-transform: uppercase;
}

.about_title {
  font-size: 40px;
  font-weight: 800;
}

.about_sub-title {
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
}

.about_text {
  font-size: 15px;
}

.about_text .sup-live {
  color: #f00;
}

.about_text > sup {
  font-size: 14px;
  text-transform: none;
  line-height: 6px;
}

.certs {
  padding: 74px 0 86px 0;
}

.certs .sec-subtitle {
  margin: 9px auto 38px;
}

.certs-car {
  margin: 0 auto;
  max-width: 870px;
}

.certs-i_img-wrap {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  margin: 0 auto;
  width: 230px;
  height: 280px;
  padding: 13px 13px 13px 14px;
  background: url(../img/certs-item-photo.png) no-repeat;
}

.videos {
  padding: 73px 0 83px 0;
  border-top: 1px solid #a1a1a1;
  background: url(../img/bg-9.png);
}

.videos-car {
  margin: 0 auto;
  max-width: 920px;
}

.videos-i {
  padding-bottom: 11px;
  max-width: 450px;
  height: 388px;
  margin: 0 auto;
  background: #fff;
}

.videos-i_img-wrap {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 450px;
  height: 280px;
  text-decoration: none;
}

.videos-i_img-wrap::after {
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90px;
  height: 63px;
  margin: -32px 0 0 -45px;
  background: url(../img/videos-play-btn.png) no-repeat;
}

.videos-i_title {
  margin: 10px 13px 0;
  font-size: 18px;
  font-weight: 600;
}

.videos-i_text {
  margin: 2px 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #838383;
  text-align: justify;
}

.media {
  padding: 73px 0 86px 0;
  border-top: 1px solid #a1a1a1;
}

.media-car {
  margin: 0 auto;
  max-width: 950px;
}

.media-i {
  max-width: 474px;
  padding: 0 21px;
  margin: 0 auto;
}

.media-i_title {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  text-transform: uppercase;
}

.media-i_subtitle {
  display: block;
  margin: 11px 0 0;
  font-size: 16px;
  line-height: 18px;
}

.media-i_subtitle::after {
  display: block;
  content: '';
  margin: 12px 0 13px;
  width: 10px;
  height: 10px;
  background: #f00;
}

.media-i_text {
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
}

.solutions {
  padding: 66px 0 65px 0;
  border-top: 1px solid #a1a1a1;
  background: url(../img/bg-9.png);
}

.solutions-heading {
  text-transform: uppercase;
}

.solutions-heading > .sec-subtitle {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

.solutions-car-i:focus {
  outline: none;
}

.solutions-car-i > img {
  display: block;
  float: left;
}

.solutions-nav {
  margin: 35px auto 0;
  height: 64px;
}

.solutions-nav-i {
  height: 54px;
  line-height: 50px;
  text-align: center;
  border: 2px dashed transparent;
  cursor: pointer;
}

.solutions-nav-i:focus {
  outline: none;
}

.solutions-nav-i.slick-current {
  border-color: #fa6464;
}

.solutions-nav-i > img {
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (max-width: 1200px) {
  .solutions-nav .slick-dots {
    display: block;
    margin: 20px auto 0;
    text-align: center;
  }
  .solutions-nav .slick-dots > li {
    display: inline-block;
  }
  .solutions-nav .slick-dots > li > button {
    font-size: 0;
    width: 20px;
    border: 0;
    outline: none;
    background: transparent;
  }
  .solutions-nav .slick-dots > li > button::before {
    content: '';
    display: inline-block;
    margin: 0 6px;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #c1c1c1;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }
  .solutions-nav .slick-dots .slick-active > button::before {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    background-color: #ff9000;
  }
}

@media only screen and (min-width: 1200px) {
  .solutions-nav .slick-arrow {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin-top: -28px;
    border: 0;
    outline: none;
    background-color: transparent;
    background: url(../img/sprite-1.png) no-repeat;
    font-size: 0;
  }
  .solutions-nav .slick-prev {
    left: -50px;
    background-position: 0 -21px !important;
  }
  .solutions-nav .slick-next {
    right: -50px;
    background-position: 0 -72px !important;
  }
}

.last {
  height: 750px;
  background: url(../img/bg-10.jpg) center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff;
}

.last-heading-wrap {
  text-align: center;
  text-transform: uppercase;
  background: url(../img/last-screen-heading.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.last-heading .accent {
  color: #ff9000;
}

.last h4 {
  margin: 126px 0 0 29px;
  font-size: 23px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  color: #fff;
}
