.certs{
	padding: 74px 0 86px 0;
}

.certs .sec-subtitle{
	margin: 9px auto 38px;
}

.certs-car{
	margin: 0 auto;
	max-width: 870px;
}

.certs-i_img-wrap{
	box-sizing: content-box;
  display: block;
	margin: 0 auto;
  width: 230px;
  height: 280px;
  padding: 13px 13px 13px 14px;
  background: url(../img/certs-item-photo.png) no-repeat;
}
