header{ color: $menu-c; }

.info-row{
	height: 50px;
  background: url(../img/bg-2.png);
}

.lang-list,
.contacts-list{
	margin-top: 15px;
	float: right;
	list-style: none;
	li{
		float: left;
	}
}

.contacts-list{
	li{
		position: relative;
		&::before{
	    content: '';
			display: inline-block;
			vertical-align: middle;
	    width: 18px;
	    height: 20px;
		}
	}
	li.phone{
		font-size: 16px;
		span{font-size: 12px;}
		&::before{background: url(../img/sprite-1.png) no-repeat;}	
	}
	li.email{
		font-size: 15px;
		letter-spacing: 0.7px;
		&::before{background: url(../img/sprite-1.png) -19px 0 no-repeat;}
	}
}

.lang-list > li > a{
	margin: 0 6px;
	text-transform: uppercase;
	color: inherit;
	font-size: 13px;
	&:hover{text-decoration: none;}
	&.active{color: $accent-c;text-decoration: underline;}
}



.menu-row{
	min-height: 60px;
	background: url(../img/bg-3.png);
}

.logo{
  margin: 21px auto;
  width: 215px;
  height: 18px;
  background: url(../img/header-logo.png) no-repeat;
}

.menu{
	list-style: none;
	&:before{
    content: '';
    position: absolute;
    left: 0;
    top: 18px;
    width: 1px;
    height: 24px;
    background: #6d7af5;	
	}
	> li > a{
		display: block;
  	height: 60px;
  	line-height: 58px;
		color: inherit;
		text-decoration: none;
		&:hover{
			&:after{
		    display: block;
		    content: '';
		    width: 32px;
		    height: 2px;
		    margin: 0 auto;
		    background: #f00;
			}
		}
	}
}

@media only screen and (max-width : 768px){
	.col-menu{
		display: block !important;
		min-height: 0px !important;
		max-height: 0px;
		overflow: hidden;
		opacity: 0;
		transition: max-height 0.5s, opacity 0.5s;
		&.active{
			max-height: 180px;
			opacity: 1;
		}
	}
}
