
@media only screen and (min-width : 480px){

.front-page{
	.s-homescreen{
		margin-bottom: 30px;
	}
	.s-best-offers{
	margin-bottom: 35px;
	}
	.s-news{
	margin-bottom: 40px;
	}
	.s-about{
		margin-bottom: 40px;
	}
	.s-reviews{
		margin-bottom: 50px;//от футера
	}
}

}//


@media only screen and (min-width : 768px){

.front-page{
	.s-homescreen{
		margin-bottom: 40px;
	}
	.s-best-offers{
	margin-bottom: 40px;
	}
	.s-news{
	margin-bottom: 35px;
	}
	.s-about{
		margin-bottom: 40px;
	}
	.s-reviews{
		margin-bottom: 60px;//от футера
	}
}

.s-homescreen{
	padding: 0 0 85px;
  background-position-x: 50%;
}

}//

@media only screen and (min-width : 992px){

.front-page{
	.s-homescreen{
		margin-bottom: 40px;
	}
	.s-best-offers{
	margin-bottom: 45px;
	}
	.s-news{
	margin-bottom: 60px;
	}
	.s-about{
		margin-bottom: 50px;
	}
	.s-reviews{
		margin-bottom: 80px;//от футера
	}
}

.s-homescreen{
	padding: 0 0 45px;
	height: 800px;
}
.homescreen_i{
	max-width: 100%;
}

}//
@media only screen and (min-width : 1200px){

.s-homescreen{
	padding: 0 0 40px;
}

}//