
@media only screen and (min-width : 480px){

.page-news{
	.page-content{
		padding: 28px 0 28px;
	}
}

}//


@media only screen and (min-width : 768px){

.page-news{
	.page-content{
		padding: 33px 0 33px;
	}
}

}//

@media only screen and (min-width : 992px){

.page-news{
	.page-content{
		padding: 38px 0 50px;
	}
}

}//
@media only screen and (min-width : 1200px){



}//

